.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	color: white;
	background-color: crimson;
	border: solid 4px salmon;
	grid-row: 1;
}

.header h2 {
	margin: 0;
}

.navItem {
	padding: 1rem;
}

.navItem:link, .navItem:visited {
	color: white;
	text-decoration: none;
}

.navItem:hover {
	color: darkslategray;
}

.navItem:active {
	color:deeppink;
}

.current {
	display: none;
}